body {
  font-family: "Vollkorn", Georgia, serif;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.005rem;
  color: rgba(0, 0, 0, 0.7);
}

.logo {
  max-width: 200px;
}

.footer {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.footer p {
  color: white;
  text-align: center;
  padding: 1.875rem;
}

.col-wide {
  grid-column: 1 / -1;
}

@media (max-width: 760px) {
  .logo {
    margin-bottom: 1.25rem;
  }
}
