.header {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 1.875rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 0.625rem;
  color: white;
  font-size: 1.125rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.3125rem;
  transition: 0.1s;
}

.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.header li + li {
  margin-left: 1.875rem;
}

@media (max-width: 760px) {
  .header {
    grid-template-columns: auto;
  }
  .header nav a {
    font-size: 1rem;
  }
  .header li + li {
    margin-left: 0.625rem;
  }
}
