.sidenav {
  background: #fafbfc;
  padding: 1.875rem;
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 1.875rem auto;
  background: #fff;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}

.sidenav li a:hover {
  background: #b07dfb;
}

@keyframes seta {
  0% {
    right: 30px;
  }
  100% {
    right: 20px;
  }
}

@media (max-width: 760px) {
  .sidenav {
    position: relative;
    padding: 0 1.875rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .sidenav::after {
    content: "🠖";
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }
  .sidenav ul {
    display: flex;
  }
  .sidenav ul li {
    flex: 1 0 60px;
  }
  .sidenav li a {
    margin: 1.875rem 1.875rem 1.875rem 0;
  }
}
